__pycache__/
*.pyc

# Nunca versionar assets del juego ni el ejecutable
*.HD
*.BIN
*.iso
*.ISO
*.nut
*.tm2
*.TM2
SLPS_*
SLPM_*
api.json
iso/
work/

*.egg-info/
build/
dist/

# build C (PS2)
ps2/*.o
ps2/*.ELF
ps2/test_vnp
